<app-dashboard></app-dashboard>

      <!--      Login        -->
 
        <div class="container mt-5">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Sign In</h3>
                            
                        </div>
                        <div class="card-body">
                            <form >
                                <div class="input-group form-group">
                                    
                                    <input type="text" name="username" [(ngModel)]="customer.username" class="form-control" placeholder="username">
                                    
                                </div>
                                <div class="input-group form-group">
                                    
                                    <input type="password" name="password" [(ngModel)]="customer.password" class="form-control" placeholder="password">
                                </div>

                                <div>
                                    <p style="color:white;text-align: center">{{message}}</p>
                                </div>

                                <div class="row align-items-center remember">
                                    <input type="checkbox">Remember Me
                                </div>
                                <div class="form-group">
                                    <input type="submit" (click)="login()" value="Login" class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer mb-5">
                            <div class="d-flex justify-content-center links">
                                <p>Don't have an account?</p>
                                <button  (click)="signup()" class="btn btn-primary ml-3 mb-1">Sign up</button>
                            </div>
                           
                        </div>
                        
                
                           
            





