<app-dashboard></app-dashboard>

<div class ="container mt-5">
  <div class="d-flex justify-content-left">
    <div class="card col-md-4">
        <div class="card-header">
            <h2 style="text-align:center;color:antiquewhite">Vehicle Insurance System</h2>
        </div>
        
        <div class="card-body">
            <h4 style="color:rgb(255, 249, 249);text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Vehicle Insurance System (VIS) is basically a system that helps the members to do vehicle insurance online, by registering the vehicle, pay premium, and renew policy and cancelling policy.  The following are the modules in this proposed system</h4>

        </div>


    </div>
  </div>

</div>




