<app-dashboard></app-dashboard>

<div class="container color bg-color mt-5 ">
  <div><br>
      <h2><strong>About Us</strong></h2><br>
      <p>Vehicle Insurance System (VIS) is basically a system that helps members to do vehicle insurance online, by registering the vehicle, pay premium, and renew policy and cancelling policy. It is a professional, independent system with an aim to make insurance simple.
          It is a locally owned and operated independent insurance system. Our agency has access to numerous A-rated carriers, which better enables us to meet the individual needs of our clients. This also allows our clients to stay with us even as their insurance needs evolve or change over time. We have relationships with dozens of insurance companies, allowing you to get the right price with the right service. 
          If you want to buy insurance - you would want to compare features and prices of an insurance policy and buy the best policy that you deserve. Then you would expect some help if ever you want to make a claim or renew the policy. Right?
          </p>
  </div>
 
  <div><br>
      <h3>With Vehicle Insurance Policy!</h3><br>
      <ul><li><strong>Managing Insurance:</strong> It  gives you full control of your policy. You can:
          <ul><li>Request a change in policy</li>
          <li>File a claim</li>
          <li>Instant Renew your policy</li></ul>
         
          </li><br>
      <li><strong>Claim Settlement:</strong> We provide end-to-end support for claims. Right from filing claims to the final claim settlement</li><br>
      <li><strong>You are Legally Protected:</strong> As it is mandatory to possess an insurance policy to ride on Indian roads, it is suggested to have a photocopy of valid insurance policy all times to save yourself from paying a penalty.</li><br>
     
      <li><strong>You Have Peace of Mind: </strong> Since you know you are financially protected against the bike accidental damage repair costs, you certainly have peace of mind.</li></ul>
 <br>
    </div>
</div>
